<footer>
    <div id="left_footer">
        <nav>
            <ul id="footer_nav">
                <p>&copy; Trip Manager</p>
                <li><a class="links footer_links" href="/about">About</a></li>
                <li><a class="links footer_links" href="/contact">Contact</a></li>
            </ul>
        </nav>
    </div>
</footer>

</body>

</html>