<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script defer src="/javascript/userMenu.js"></script>
</head>

<body>
    <header>
        <div id="header_container">
            <div id="top_header">
                <a href="/">
                    <img id="logo" src="/images/logo.png" alt="logo">
                </a>
                <nav>
                    <ul id="user_nav">
                        <%if (user) {%>
                        <li><a class="links" href="/trips/new">Start a New Trip</a></li>
                        <%}%>
                        <%if (!user) {%>
                            <li><a class="links" href="/users/login">Login</a></li>
                            <li><a class="links" href="/users/signup">Sign Up</a></li>
                        <%}%>
                    </ul>
                </nav>
            </div>
            <div id="bottom_header">
                <nav>
                    <ul id="general_nav">
                        <li><a class="links" href="/trips">Trips</a></li>
                    </ul>
                </nav>
                <%if (user) {%>
                <a href="#">
                    <img id="user_profile" src="/images/profile_icon.png" alt="user profile">
                </a>
                <%}%>
            </div>
        </div>
    </header>

    <%if (user) {%>
    <div class="sub_menu_wrapper" id="subMenuWrapper">
        <div class="sub_menu">
            <div class="user_info">
                <img id="user_profile" src="/images/profile_icon.png" alt="user profile">
                <h3><%=user.firstName + " " + user.lastName%></h3>
            </div>
            <hr>

            <a class="sub_menu_links" href="/users/profile">
                <img src="/images/logo.png">
                <p>View Profile</p>
                <span>></span>
            </a>
            <a class="sub_menu_links" href="/users/settings">
                <img src="/images/settings_icon.png">
                <p>Settings</p>
                <span>></span>
            </a>
            <a class="sub_menu_links" href="/users/logout">
                <img src="/images/logout_icon.png">
                <p>Logout</p>
                <span>></span>
            </a>
        </div>
    </div>
    <%}%>

    <div id="flash_messages">
        <%if (errorMessages.length > 0) {
            errorMessages.forEach(message => {%>
                <div class="error"><%=message%></div>
            <%});
        }%>
    
        <%if (successMessages.length > 0) {
            successMessages.forEach(message => {%>
                <div class="success"><%=message%></div>
            <%});
        }%>
    </div>