<%- include('./partials/header.ejs')%>
    <main>
        <div id="main_content">
            <p>Welcome to the Trip Manager website!</p>
        </div>
    </main>
<%- include('./partials/footer.ejs')%>