:root {
    --lineHeight: 1.5;
}

body {
    margin: 0 auto;
    background-color: white;
    min-height: 100vh;
    word-wrap: break-word;
    overflow-x: hidden;
}

header {
    width: 100%;
    background-color: black;
}

#top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    border-bottom: 2px solid green;
}

#bottom_header {
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}

#user_nav li {
    display: inline-block;
    padding-left: 25px;
}

.links {
    color: white;
    text-decoration: none;
    font-size: 22px;
}

.links:hover {
    opacity: 1.0;
}

.link_underline:hover {
    text-decoration: underline;
}

.hyperlinks {
    color: blue;
}

.hyperlinks:hover {
    text-decoration: underline;
}

#general_nav li {
    margin-top: 10px;
    margin-left: 0px;
}

#general_nav ul li:first-child{
    margin-right: auto;
}

#general_nav li {
    display: inline-block;
}

#logo {
    padding-bottom: 0px;
    height: 135px;
    width: 175px;
    margin-right: auto;
}

#user_profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
}

ul {
    padding-left: 35px !important;
}

#user {
    margin-right: 25px;
    margin-bottom: 5px;
}

#user_profile {
    float: right;
}

.sub_menu_wrapper {
    position: absolute;
    width: 320px;
    right: 0;
    margin-right: 3.8%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub_menu_wrapper.open_menu{
    max-height: 400px;
}

.sub_menu {
    background: black;
    padding: 20px;
    margin-right: 40px;
}

.sub_menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: green;
    margin: 15px 0 10px;
}

.sub_menu_links {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    margin: 12px 0;
}

.sub_menu_links p {
    width: 100%;
    margin-bottom: 0;
}

.sub_menu_links:hover p {
    font-weight: 600;
}

.sub_menu_links img {
    width: 40px;
    background: white;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub_menu_links span {
    font-size: 22px;
    transition: transform 0.5s;
}

.sub_menu_links {
    text-decoration: none;
}

.sub_menu_links:hover span {
    transform: translateX(5px);
}

.user_info {
    display: flex;
    align-items: center;
}

.user_info h3 {
    font-weight: 500px;
    color: white;
}

.user_info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

#flash_messages {
    display: flex;
    justify-content: center;
}

.flash {
    width: 50%;
    text-align: center;
    padding: 10px 10px;
    display: block;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 20px;
    margin: auto;
}
  
main {
    width: 100%;
    margin: 0 auto;
}

#main_content_text_centered {
    padding: 50px 0px;
    text-align: center;
}

#main_content_text_centered p {
    font-size: 22px;
}

#main_content_centered {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

#main_content_centered h4 {
    margin-top: 0;
    margin-bottom: 1px;
}

#main_content_centered h1 {
    margin-bottom: 10px;
}

#main_content {
    padding: 50px 50px;
}

@media only screen and (max-width: 590px) {
    #main_content {
        padding: 10px 10px;
    }
}

#main_content p {
    font-size: 22px;
}

#main_content li, a{
    list-style: none;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.list {
    list-style: none;
    text-decoration: none;
    padding: 5px;
}

.day_links{
    color: black;
    font-size: 20px;
}

#main_content li {
    padding-bottom: 10px;
}

#trip_container{
    width: 50%;
}

@media (max-width: 1200px) {
    #trip_container {
      width: 95%;
    }
}

#login_container, #signup_container {
    width: 30%;
}

@media (max-width: 1200px) {
    #login_container, #signup_container {
      width: 90%;
    }
}

#signup, #login {
    clear: both;
    text-align: center;
}

#form_container {
    width: 40%;
}

#new_access_container {
    width: 35%;
}

.inline_container {
    display: inline-block;
    vertical-align: top;
}

@media only screen and (max-width: 590px) {
    .inline_container {
        display: block;
        margin-top: 10px;
    }
}

.left {
    max-width: 50%;
    word-break: break-all;
    white-space: normal;
    margin-right: 10%;
}

@media (max-width: 1200px) {
    #form_container {
      width: 90%;
    }
  }

  /*200, 250*/
#trip_image, #day_image, #map {
    height: 250px;
    width: 250px;
}

#image, #map {
    margin-top: 10px;
    float: left;
    margin-right: 30px;
}

#top_trip {
    padding-bottom: 10px;
}

.locationHeader, #dayHeader {
    padding-top: 35px;
}

@media only screen and (max-width: 590px) {
    #locationHeader {
        padding-top: 0px;
    }
}

#buttons_container, #buttons_container_day {
    float: right;
}

@media only screen and (max-width: 590px) {
    #buttons_container {
        float: none;
        display: block;
    }
}

.button {
    background-color: black;
    color: white;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 10px;
}

.button:hover {
    opacity: 0.7;
}

.button:disabled {
    opacity: 0;
}

button:hover {
    cursor: pointer;
}

#days_container p {
    font-size: 20px;
}

#days_container {
    clear: both;
    word-wrap: break-word;
}

#days li:first-of-type {
    margin-top: 30px;
}

#showMessage {
    margin-bottom: 7px;
}

#maxDaysSelect {
    float: right;
}

#maxDaysSelect, #showTrips {
    margin-top: 0;
    border-radius: 25px;
    background-color: black;
    color: white;
    height: 25px;
    width: fit-content;
}

#addDayButton {
    float: right;
}

#days {
    max-width: 100%;
    width: fit-content;
}

#left_button {
    float: left;
}

#right_button {
    float: right;
}

#description {
    clear: both;
    padding-top: 10px;
}

#day_description {
    clear: both;
    padding-top: 10px;
}

#day_description p {
    font-size: 22px;
    white-space: pre-line;
    line-height: 1.5;
}

#description p {
    font-size: 22px;
    white-space: pre-line;
    line-height: 1.5;
}

#prevNextButtons {
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    font-size: 18px;
}

input,  textarea, #accessType {
    margin: 7px 0px;
    padding: 7px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
}

#checkboxLabel {
    display: block;
    padding-bottom: 10px;
    padding-left: 15px;
    text-indent: -15px;
}

#checkboxLabel:hover {
    opacity: 0.7;
}

input[type=checkbox] {
  width: 15px;
  height: 15px;
  margin: 0;
  vertical-align: bottom;
  position: relative;
  top: -2.5px;
}

textarea {
    resize: vertical;   
}

.required:after {
    content:" *";
    color: red;
}

.greenButton {
    width: 25%;
    background-color: #04AA6D;
    color: white;
    border: none;
    /*font-size: 1vw;*/
    cursor: pointer;
}

#submit {
    float: right;
}

#accountButton {
    border-radius: 7px !important;
}

.access {
    width: fit-content;
}

.access h2 {
    margin-bottom: 0;
}

.access button {
    margin-bottom: 0;
}

.access h4{
    margin-top: 0;
    font-weight: normal;
}

.access p {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

#cancel {
    width: 20%;
    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
    float: left;
    text-align: center;
}

.greenButton {
    height: 35px;
    line-height: 20px;
    font-size: 20px;
    margin-top: 10px;
    font-weight: 700;
}

.greenButton:hover {
    opacity: 0.9;
}

@media only screen and (max-width: 590px) {
    #cancel {
        height: 20px;
        border-radius: 25px;
    }
}

.error_buttons {
    height: 30px;
    background-color: #04AA6D;
    color: white;
    border: none;
    cursor: pointer;
    float: left;
    text-align: center;
    border-radius: 7px;
    padding: 0 20px;
    margin-right: 10px;
}

footer {
    background-color: black;
    color: white;
    height: 70px;
    position: sticky;
    top: 100%;
    margin-bottom: 0;
}

#left_footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    font-size: 22px;
    padding-left: 10px;
    margin-top: 10px;
}

#footer_nav li, ul p{
    display: inline-block;
    padding-right: 20px;
}
