<%- include('../partials/header.ejs')%>
    <main>
        <div id="main_content_centered">
            <div id="login_container">
                <h2>Login to your account</h2>
                <form action="/users/login" method="POST">
                    <label class="required" for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Email Address" required>

                    <label class="required" for="password">Password:</label>
                    <input type="password" id="password" name="password" placeholder="Password" minlength="8" maxlength="64" required>

                    <a id="resetPasswordLink" href="/users/reset-password">Forgot password?</a>

                    <input type="submit" value="Log In" id="submit" class="greenButton">
                </form>
                <div id="signup">
                    <h3>Don't have an account?</h3>
                    <a href="/users/signup">
                        <button class="greenButton" id="accountButton" type="button">Sign Up Here</button>
                     </a>
                </div>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>