<%- include('../partials/header.ejs')%>
    <main>
        <div id="main_content_centered">
            <div id="login_container">
                <form action="/users/reset-login/send-password-reset" method="POST">
                    <h2>Forgot password?</h2>

                    <label class="required" for="email">Email:</label>
                    <input type="email" id="email" name="email" placeholder="Email Address" required>

                    <input type="submit" value="Submit" id="submit" class="greenButton">
                </form>
            </div>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>