<%- include('../partials/header.ejs')%>
    <main>
        <div id="main_content">
            <h1>403 Error</h1>
            <p>Forbidden</p>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>