<%- include('../partials/header.ejs')%>
    <main>
        <div id="main_content">
            <h2>You must be logged in to view this page.</h2>
            
            <a href="/users/login"><button class="error_buttons">Log In</button></a>
            <a href="/users/signup"><button class="error_buttons">Sign Up</button></a>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>