<%- include('../partials/header.ejs')%>
    <main>
        <div id="main_content">
            <h2>You are already logged in!</h2>
            <a href="/"><button class="error_buttons" id="login">Go To Home</button></a>
            <a href="/users/logout"><button class="error_buttons" id="signup">Logout</button></a>
        </div>
    </main>
<%- include('../partials/footer.ejs')%>